nav.navbar {
  background-color: #0c263a; // dark blue
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 10;
}

.navbar .logo {
  height: 55px;
}

.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar-brand span {
  margin-left: 8px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #ffc107; // highlight color (yellowish)
}
