.courses-offered {
  background-color: #ffffff;

  h2 {
    color: #0c263a;
    font-weight: 600;
  }

  .card {
    border: none;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .btn-outline-primary {
    border-color: #0c263a;
    color: #0c263a;
  }

  .btn-outline-primary:hover {
    background-color: #0c263a;
    color: #fff;
  }
}
